.wrapper{
    width: 1200px;
    margin-left: 168px;
    display: flex;
    margin-top: 50px;
    .catalog{
        .list{
            list-style: none;
            width: 300px;
            padding-left: 0;
            .item{
                padding: 10px 0 20px 30px;
                h3{
                    font-size: 1.4rem;
                    color: #0069db;
                    margin-bottom: 2px;
                }
                p{
                    color: #6c757d;
                    font-size: 0.9rem;
                    margin-bottom: 0;
    
                }
            }
            .active{
                border-left: 6px solid #0069db;
                background-color: #f5f9fe;
            }
            .item:hover{
                background-color: #f5f9fe;
            }
        }
    }

    .main{
        flex: 1;
        margin-left: 80px;
    }
    
}